@charset "UTF-8";

/**
 * 
 * @authors 谢志强 (594613537@qq.com)
 * @date    2016-06-29 19:34:04
 * @version v0.1
 */
* {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	color: #fff;
}
body {
	padding-top: 10px;
	background: #51B1D9;
	font: Helvetica, Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6, p, span, div {
	font-size: 16px;
	color: #fff;
}
.floatfix:after {
	content: "";
	display: table;
	clear: both;
}
.github {
	width: 200px;
	text-align: center;
	height: 60px;
	line-height: 60px;
	font-size: 24px;
	color: #fff;
	border: 1px solid;
	border-color: rgba(255, 255, 255, 0.5);
	margin: 0 auto;
	cursor: pointer;
}
.github:hover {
	background: #29599B;
}
.github a {
	color: #fff;
	text-decoration: none;
}
.container {
	width: 1200px;
	margin: 0 auto;
}
.item-title {
	font-size: 20px;
	font-weight: bold;
	margin: 10px;
	height: 30px;
	line-height: 30px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}
.item-container {
	width: 100%;
	margin-bottom: 30px;
}
.items {
	width: 200px;
	float: left;
}
.items-img {
	height: 250px;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}
.items-word {
	font-family: "Microsoft Yahei";
	height: 30px;
	line-height: 30px;
	font-size: 14px;
}
.img-container {
	cursor: pointer;
}
.img-container img {
	vertical-align: top;
}
.img-container1 {
	height: 200px;
	width: 150px;
	overflow: hidden;
	margin: auto;
}
.img-container1 img {
	-webkit-transition: 1s;
}
.img-container1:hover img {
	-webkit-transform: scale(1.2);
}
.img-container2 {
	height: 200px;
	width: 150px;
	overflow: hidden;
	margin: auto;
	position: relative;
}
.img-container2 img {
	-webkit-transition: 1s;
	width: 150%;
	height: 150%;
	position: absolute;
	left: -50px;
	top: -50px;
}
.img-container2:hover img {
	-webkit-transform: scale(0.8);
}
.img-container3 {
	-webkit-transition: 1s;
}
.img-container3:hover {
	-webkit-transform: scale(1.2);
}
.img-container4 {
	-webkit-transition: 1s;
}
.img-container4:hover {
	-webkit-transform: scale(0.8);
}
.img-container5 {
	-webkit-transition: 1s;
}
.img-container5:hover {
	-webkit-transform: translate(0, -15px);
}
.img-container6 {
	-webkit-transition: 1s;
}
.img-container6:hover {
	-webkit-transform: translate(0, 15px);
}
.img-container7 {
	-webkit-transition: 1s;
}
.img-container7:hover {
	-webkit-transform: translate(-15px, 0);
}
.img-container8 {
	-webkit-transition: 1s;
}
.img-container8:hover {
	-webkit-transform: translate(15px, 0);
}
.img-container9:hover img {
	box-shadow: #fff 0px 0px 10px;
}
.img-container10:before {
	content: url('img/jay-name.jpg');
	position: absolute;
	left: 25px;
	top: 0;
	z-index: 0;
	-webkit-transition: 1s;
}
.img-container10 img {
	backface-visibility: hidden;
	-webkit-transition: 1s;
	position: absolute;
	left: 25px;
	top: 0;
	z-index: 20;
}
.img-container10 {
	position: relative;
}
.img-container10:hover img {
	-webkit-transform: rotateY(-180deg);
}
.img-container10:hover::before {
	-webkit-transform: rotateY(-180deg);
}
.items-word10 {
	position: relative;
	top: 200px;
}
.img-container11 {
	width: 150px;
	height: 200px;
	overflow: hidden;
	margin: 0 auto;
	-webkit-transition: 1s;
}
.img-container11:hover {
	border-radius: 20%;
}
.img-container12:hover img {
	border: 2px #d90000 solid;
}
.img-container13 {
	position: relative;
}
.img-container13:hover .img-info13 {
	display: block;
}
.img-info13 {
	background: rgba(41, 41, 42, 0.8);
	height: 30px;
	line-height: 30px;
	position: absolute;
	bottom: 0;
	left: 25px;
	width: 150px;
	box-sizing: border-box;
	text-align: left;
	padding-left: 10px;
	font-size: 12px;
	color: #666;
	display: none;
}
.img-container14 {
	position: relative;
}
.img-container14:hover .img-info14 {
	display: block;
}
.img-info14 {
	background: rgba(41, 41, 42, 0.8);
	height: 30px;
	line-height: 30px;
	position: absolute;
	top: 0;
	left: 25px;
	width: 150px;
	box-sizing: border-box;
	text-align: left;
	padding-left: 10px;
	font-size: 12px;
	color: #666;
	display: none;
}
.img-container15 {
	position: relative;
}
.img-container15:hover .img-info15 {
	display: block;
}
.img-info15 {
	background: rgba(41, 41, 42, 0.3);
	height: 100%;
	position: absolute;
	top: 0;
	left: 25px;
	width: 150px;
	display: none;
}
.img-container16 img {
	-webkit-filter: blur(3px);
	-webkit-transition: 0.5s;
}
.img-container16:hover img {
	-webkit-filter: blur(0px);
}
.img-container17 {
	position: relative;
}
.img-mask17 {
	position: absolute;
	top: 0;
	left: 25px;
	width: 150px;
	height: 200px;
	background: rgba(27, 58, 81, .3);
	color: #fff;
	box-sizing: border-box;
	padding-top: 70px;
	display: none;
}
.img-mask17 h1 {
	height: 35px;
	line-height: 35px;
	color: #fff;
	text-align: center;
	font-size: 20px;
	cursor: pointer;
}
.img-container17:hover img {
	-webkit-filter: blur(3px);
}
.img-container17:hover .img-mask17 {
	display: block;
}
.img-container18:hover img {
	-webkit-filter: grayscale(100%);
}
.img-container19 img {
	-webkit-filter: grayscale(100%);
}
.img-container19:hover img {
	-webkit-filter: grayscale(0);
}
.img-container20:hover img {
	-webkit-filter: sepia(1);
}
.img-container21 img {
	-webkit-filter: sepia(1);
}
.img-container21:hover img {
	-webkit-filter: sepia(0);
}
.img-container22 {
	left: 25px;
	position: relative;
	width: 150px;
	height: 200px;
	overflow: hidden;
}
.imgbg22 {
	width: 150px;
	height: 200px;
	background: url('img/jay-1.jpg');
}
.img22 {
	position: absolute;
	top: -50px;
	left: -75px;
	width: 300px;
	height: 300px;
	background: linear-gradient(-45deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 200px, rgba(255, 255, 255, 1) 210px, rgba(255, 255, 255, 0) 220px, rgba(255, 255, 255, 0)) no-repeat -100px -100px;
	-webkit-transition: 0.8s;
}
.img-container22:hover .img22 {
	background-position: 150px 100px;
}
.img-container23:hover .img-mask23 {
	-webkit-transform: rotate(90deg);
}
.img-container23 {
	position: relative;
}
.imgbg23 {
	top: 10px;
	left: 10px;
	position: absolute;
	background: url(img/moon.jpg) no-repeat;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin-left: 25px;
}
.img-mask23 {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin-left: 25px;
	border: 10px solid #aaa;
	border-right-color: #23CF5F;
	border-bottom-color: #23CF5F;
	-webkit-transition: 0.5s;
}
.items-img25 {
	width: 940px;
	height: 529px;
	background: #fff;
	position: relative;
}
.new-img {
	background: url(img/old.jpg);
	height: 100%;
	width: 100%;
}
.old-img {
	background: url(img/new.jpg);
	height: 100%;
	width: 90%;
	position: absolute;
	top: 0;
	left: 0;
	border-right: 5px solid #000;
}
.items-titles {
	height: 100px;
}
.title-container {
	margin: 40px 0 0 40px;
	font-family: "Microsoft Yahei";
	font-size: 18px;
}
.title-container1 a:hover {
	border-bottom: 2px solid #fff;
}
.title-container2 {
	width: 72px;
}
.title-container2 a:after {
	content: "";
	width: 0px;
	height: 2px;
	display: block;
	background: #fff;
	margin: 0 auto;
	-webkit-transition: 0.5s;
}
.title-container2 a:hover:after {
	width: 100%;
}
.title-container3 a:hover {
	color: #9D3A3D;
}
.title-container4 a:hover {
	color: #9D3A3D;
	border-bottom: 2px solid #9D3A3D;
}
.title-container5 {
	width: 72px;
}
.title-container5 a:after {
	content: "";
	width: 0px;
	height: 2px;
	display: block;
	background: #9D3A3D;
	margin: 0 auto;
	-webkit-transition: 0.5s;
}
.title-container5 a:hover:after {
	width: 100%;
}
.title-container5 a:hover {
	color: #9D3A3D;
}
.title-container6 a {
	padding: 5px;
	border: 1px solid #fff;
	border-radius: 3px;
}
.title-container6 a:hover {
	background: #A03C3C;
}
.title-container7 {
	position: relative;
	width: 70px;
	text-align: center;
	height: 38px;
}
.title-container7 a {
	height: 100%;
	line-height: 38px;
	display: block;
	color: #000;
}
.title-container7 a:after {
	content: "";
	display: block;
	height: 100%;
	width: 0;
	background: #c82800;
	margin: 0 auto;
	-webkit-transition: 0.5s;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: -1;
}
.title-container7:hover a:after {
	width: 100%;
}
.title-container7:hover a {
	color: #fff;
}
.title-container8 {
	position: relative;
	width: 70px;
	text-align: center;
	height: 38px;
}
.title-container8 a {
	height: 100%;
	line-height: 38px;
	display: block;
	color: #000;
}
.title-container8 a:after {
	content: "";
	height: 0%;
	width: 100%;
	background: #c82800;
	margin: 0 auto;
	-webkit-transition: 0.5s;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	margin: auto;
}
.title-container8:hover a:after {
	height: 100%;
}
.title-container8:hover a {
	color: #fff;
}